In [ ]:
import numpy as np
import pandas as pd
import math
from collections import Counter
import random

In [ ]:
data = pd.read_csv("./sample_data/fruit_data_with_colours.csv")
data = data.drop(["Unnamed: 7","Unnamed: 8", "Unnamed: 9"], 1)
data["mass"] = (data["mass"]/data["mass"].max()) * 100
data["width"] = (data["width"]/data["width"].max()) * 100
data["height"] = (data["height"]/data["height"].max()) * 100
data["color_score"] = (data["color_score"]/data["color_score"].max()) * 100
shuffle = data.sample(frac = 1)
shuffle

<ipython-input-139-abd8ddead5e6>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  data = data.drop(["Unnamed: 7","Unnamed: 8", "Unnamed: 9"], 1)

,fruit_label,fruit_name,fruit_subtype,mass,width,height,color_score
34,3,orange,turkey_navel,39.226519,79.166667,74.285714,80.645161
27,3,orange,selected_seconds,56.353591,78.125000,87.619048,82.795699
21,1,apple,cripps_pink,43.093923,77.083333,70.476190,90.322581
22,1,apple,cripps_pink,38.674033,76.041667,67.619048,93.548387
44,4,lemon,spanish_belsan,55.248619,76.041667,100.000000,77.419355
54,4,lemon,unknown,32.044199,63.541667,80.952381,76.344086
7,2,mandarin,mandarin,20.994475,60.416667,38.095238,87.096774
19,1,apple,cripps_pink,44.751381,77.083333,68.571429,91.397849
53,4,lemon,unknown,33.149171,62.500000,80.000000,79.569892
45,4,lemon,spanish_belsan,51.381215,75.000000,87.619048,77.419355
56,4,lemon,unknown,32.044199,61.458333,77.142857,78.494624
52,4,lemon,unknown,32.596685,61.458333,76.190476,77.419355
9,1,apple,braeburn,47.513812,77.083333,66.666667,95.698925
32,3,orange,selected_seconds,45.303867,75.000000,66.666667,86.021505
0,1,apple,granny_smith,53.038674,87.500000,69.523810,59.139785
31,3,orange,selected_seconds,58.011050,81.250000,76.190476,88.172043
5,2,mandarin,mandarin,22.099448,60.416667,40.952381,82.795699
11,1,apple,braeburn,47.513812,73.958333,72.380952,98.924731
28,3,orange,selected_seconds,38.674033,69.791667,67.619048,77.419355
20,1,apple,cripps_pink,44.198895,78.125000,71.428571,92.473118
1,1,apple,granny_smith,49.723757,83.333333,64.761905,63.440860
10,1,apple,braeburn,45.856354,71.875000,69.523810,100.000000
57,4,lemon,unknown,41.988950,67.708333,80.952381,77.419355
12,1,apple,braeburn,42.541436,72.916667,67.619048,94.623656
43,4,lemon,spanish_belsan,53.591160,75.000000,98.095238,75.268817
13,1,apple,golden_delicious,45.303867,76.041667,73.333333,75.268817
55,4,lemon,unknown,32.044199,65.625000,73.333333,77.419355
48,4,lemon,spanish_belsan,48.066298,76.041667,96.190476,77.419355
15,1,apple,golden_delicious,43.093923,80.208333,67.619048,74.193548
30,3,orange,selected_seconds,43.646409,73.958333,71.428571,84.946237
51,4,lemon,unknown,32.044199,62.500000,71.428571,77.419355
18,1,apple,cripps_pink,44.751381,78.125000,67.619048,89.247312
23,1,apple,cripps_pink,46.961326,79.166667,75.238095,94.623656
38,3,orange,turkey_navel,43.646409,75.000000,74.285714,82.795699
35,3,orange,turkey_navel,41.436464,73.958333,75.238095,80.645161
29,3,orange,selected_seconds,44.198895,72.916667,70.476190,87.096774
37,3,orange,turkey_navel,42.541436,76.041667,69.523810,84.946237
41,3,orange,turkey_navel,49.723757,79.166667,78.095238,84.946237
26,3,orange,spanish_jumbo,100.000000,100.000000,87.619048,79.569892
36,3,orange,turkey_navel,44.198895,73.958333,72.380952,81.720430
16,1,apple,golden_delicious,43.093923,79.166667,71.428571,72.043011
47,4,lemon,spanish_belsan,54.143646,76.041667,92.380952,77.419355
2,1,apple,granny_smith,48.618785,77.083333,68.571429,64.516129
4,2,mandarin,mandarin,23.204420,62.500000,43.809524,84.946237
25,3,orange,spanish_jumbo,98.342541,95.833333,87.619048,80.645161
33,3,orange,turkey_navel,52.486188,78.125000,77.142857,79.569892
39,3,orange,turkey_navel,39.779006,70.833333,70.476190,80.645161
46,4,lemon,spanish_belsan,59.668508,76.041667,97.142857,76.344086
24,3,orange,spanish_jumbo,94.475138,93.750000,89.523810,80.645161
49,4,lemon,unknown,36.464088,60.416667,82.857143,78.494624
42,3,orange,turkey_navel,42.541436,75.000000,68.571429,88.172043
40,3,orange,turkey_navel,42.541436,73.958333,71.428571,83.870968
8,1,apple,braeburn,49.171271,73.958333,74.285714,98.924731
17,1,apple,golden_delicious,46.408840,78.125000,72.380952,78.494624
3,2,mandarin,mandarin,23.756906,64.583333,44.761905,86.021505
50,4,lemon,unknown,35.911602,62.500000,78.095238,76.344086
14,1,apple,golden_delicious,41.988950,79.166667,69.523810,74.193548
58,4,lemon,unknown,32.596685,63.541667,77.142857,75.268817
6,2,mandarin,mandarin,22.099448,61.458333,40.952381,87.096774

In [ ]:
trainSet = shuffle[1:55] #hehe
testSet = shuffle[55:]
print(trainSet)
print(testSet)

    fruit_label fruit_name     fruit_subtype        mass       width  \
27            3     orange  selected_seconds   56.353591   78.125000
21            1      apple       cripps_pink   43.093923   77.083333
22            1      apple       cripps_pink   38.674033   76.041667
44            4      lemon    spanish_belsan   55.248619   76.041667
54            4      lemon           unknown   32.044199   63.541667
7             2   mandarin          mandarin   20.994475   60.416667
19            1      apple       cripps_pink   44.751381   77.083333
53            4      lemon           unknown   33.149171   62.500000
45            4      lemon    spanish_belsan   51.381215   75.000000
56            4      lemon           unknown   32.044199   61.458333
52            4      lemon           unknown   32.596685   61.458333
9             1      apple          braeburn   47.513812   77.083333
32            3     orange  selected_seconds   45.303867   75.000000
0             1      apple      granny_smith   53.038674   87.500000
31            3     orange  selected_seconds   58.011050   81.250000
5             2   mandarin          mandarin   22.099448   60.416667
11            1      apple          braeburn   47.513812   73.958333
28            3     orange  selected_seconds   38.674033   69.791667
20            1      apple       cripps_pink   44.198895   78.125000
1             1      apple      granny_smith   49.723757   83.333333
10            1      apple          braeburn   45.856354   71.875000
57            4      lemon           unknown   41.988950   67.708333
12            1      apple          braeburn   42.541436   72.916667
43            4      lemon    spanish_belsan   53.591160   75.000000
13            1      apple  golden_delicious   45.303867   76.041667
55            4      lemon           unknown   32.044199   65.625000
48            4      lemon    spanish_belsan   48.066298   76.041667
15            1      apple  golden_delicious   43.093923   80.208333
30            3     orange  selected_seconds   43.646409   73.958333
51            4      lemon           unknown   32.044199   62.500000
18            1      apple       cripps_pink   44.751381   78.125000
23            1      apple       cripps_pink   46.961326   79.166667
38            3     orange      turkey_navel   43.646409   75.000000
35            3     orange      turkey_navel   41.436464   73.958333
29            3     orange  selected_seconds   44.198895   72.916667
37            3     orange      turkey_navel   42.541436   76.041667
41            3     orange      turkey_navel   49.723757   79.166667
26            3     orange     spanish_jumbo  100.000000  100.000000
36            3     orange      turkey_navel   44.198895   73.958333
16            1      apple  golden_delicious   43.093923   79.166667
47            4      lemon    spanish_belsan   54.143646   76.041667
2             1      apple      granny_smith   48.618785   77.083333
4             2   mandarin          mandarin   23.204420   62.500000
25            3     orange     spanish_jumbo   98.342541   95.833333
33            3     orange      turkey_navel   52.486188   78.125000
39            3     orange      turkey_navel   39.779006   70.833333
46            4      lemon    spanish_belsan   59.668508   76.041667
24            3     orange     spanish_jumbo   94.475138   93.750000
49            4      lemon           unknown   36.464088   60.416667
42            3     orange      turkey_navel   42.541436   75.000000
40            3     orange      turkey_navel   42.541436   73.958333
8             1      apple          braeburn   49.171271   73.958333
17            1      apple  golden_delicious   46.408840   78.125000
3             2   mandarin          mandarin   23.756906   64.583333

        height  color_score
27   87.619048    82.795699
21   70.476190    90.322581
22   67.619048    93.548387
44  100.000000    77.419355
54   80.952381    76.344086
7    38.095238    87.096774
19   68.571429    91.397849
53   80.000000    79.569892
45   87.619048    77.419355
56   77.142857    78.494624
52   76.190476    77.419355
9    66.666667    95.698925
32   66.666667    86.021505
0    69.523810    59.139785
31   76.190476    88.172043
5    40.952381    82.795699
11   72.380952    98.924731
28   67.619048    77.419355
20   71.428571    92.473118
1    64.761905    63.440860
10   69.523810   100.000000
57   80.952381    77.419355
12   67.619048    94.623656
43   98.095238    75.268817
13   73.333333    75.268817
55   73.333333    77.419355
48   96.190476    77.419355
15   67.619048    74.193548
30   71.428571    84.946237
51   71.428571    77.419355
18   67.619048    89.247312
23   75.238095    94.623656
38   74.285714    82.795699
35   75.238095    80.645161
29   70.476190    87.096774
37   69.523810    84.946237
41   78.095238    84.946237
26   87.619048    79.569892
36   72.380952    81.720430
16   71.428571    72.043011
47   92.380952    77.419355
2    68.571429    64.516129
4    43.809524    84.946237
25   87.619048    80.645161
33   77.142857    79.569892
39   70.476190    80.645161
46   97.142857    76.344086
24   89.523810    80.645161
49   82.857143    78.494624
42   68.571429    88.172043
40   71.428571    83.870968
8    74.285714    98.924731
17   72.380952    78.494624
3    44.761905    86.021505
    fruit_label fruit_name     fruit_subtype       mass      width     height  \
50            4      lemon           unknown  35.911602  62.500000  78.095238
14            1      apple  golden_delicious  41.988950  79.166667  69.523810
58            4      lemon           unknown  32.596685  63.541667  77.142857
6             2   mandarin          mandarin  22.099448  61.458333  40.952381

    color_score
50    76.344086
14    74.193548
58    75.268817
6     87.096774

In [ ]:
def computeDistance(dataPoint1, dataPoint2):
  result = 0;
  for i in range(4):
    result += (float(dataPoint1[i+3]) - float(dataPoint2[i+3]))**2;
  return math.sqrt(result)

In [ ]:
def computeKNN(trainSet, item, k):
  distance = []
  for index, row in trainSet.iterrows():
    distance.append(
        {
            "label": row[1],
            "value": computeDistance(item, row)
        }
    )
  distance.sort(key = lambda x:x["value"])
  labels = [item["label"] for item in distance]
  return labels[:k]

In [ ]:
def voteTheDistantce(knn):
  label = Counter(knn).most_common()
  return label

In [ ]:
k = 3
for item,row in testSet.iterrows():
  knn = computeKNN(trainSet, row, k)
  result = voteTheDistantce(knn)
  print("label: {} --> predic {}".format(row[1],result))

label: lemon --> predic [('lemon', 3)]
label: apple --> predic [('apple', 3)]
label: lemon --> predic [('lemon', 3)]
label: mandarin --> predic [('mandarin', 3)]